name: Publish Python package

on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@v1
          with:
            python-version: 3.9
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install twine
            pip install -r requirements.txt
        - name: Publish on Pypi
          if: startsWith(github.ref, 'refs/tags/')
          env:
              TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
              TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          run: |
              python setup.py sdist
              twine upload dist/*.tar.gz
  